@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #2c2c2c;
  backface-visibility: hidden;
  text-align: left;
  margin-bottom: 7rem; }
  .heading-primary--main {
    background-image: linear-gradient(to bottom right, rgba(135, 122, 255, 0.7), rgba(94, 106, 216, 0.7));
    padding: 1rem;
    display: block;
    font-size: 6rem;
    font-weight: 900;
    /* letter-spacing: 5px; */
    text-transform: uppercase;
    line-height: 1.2; }
  .heading-primary--sub {
    display: block;
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    animation-name: moveInLeft;
    animation-duration: 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #a89fff, #5e6ad8);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }

.heading-secondary-bg {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 2px;
  color: #fff;
  margin-top: -5rem; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-left-small {
  margin-left: 2rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  border: solid 0.4rem rgba(94, 106, 216, 0.7);
  color: rgba(135, 122, 255, 0.9); }

.btn--card-white {
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  color: #777;
  font-weight: 300; }

.btn--animated {
  animation: moveInBottom 0.8s ease-out 0.95s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 3rem;
  color: #877aff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #877aff;
  padding: 0.5rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #877aff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 8rem;
      top: 2.8rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(to right, #a89fff, #877aff);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.2rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem; }
  .card__side {
    height: 53rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #a89fff, #5e6ad8); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.2), rgba(255, 119, 48, 0.2)), url(../img/tinyflow.png); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(168, 159, 255, 0.2), rgba(94, 106, 216, 0.2)), url(../img/shoplyft.png); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(../img/socialape.png); }
    .card__picture--4 {
      background-image: linear-gradient(to right bottom, rgba(168, 159, 255, 0.2), rgba(94, 106, 216, 0.2)), url(../img/javaflix.png); }
    .card__picture--5 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.5), rgba(86, 67, 250, 0.5)), url(../img/coviddash.png); }
    .card__picture--6 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/urlshortner.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(168, 159, 255, 0.85), rgba(94, 106, 216, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__fork-box {
    color: #fff; }
  .card__fork-on {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem; }
  .card__fork-icon {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 6rem; }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  padding: 25rem 0;
  margin-top: -15vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(135, 122, 255, 0.8), rgba(94, 106, 216, 0.8));
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }
