// COLORS
$color-primary: rgb(135, 122, 255);
$color-primary-light: rgb(168, 159, 255);
$color-primary-dark: rgb(94, 106, 216);

$color-grey-light-1: #f7f7f7;
$color-grey-dark: rgb(44, 44, 44);
$color-grey-body: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
